<section class="col-4 offset-4">
    <section class="card authentication-card">
        <header>
            <span align="center">login</span>
        </header>
        
        <form action="/login" method="post" id="login-form" data-disable-with="logging you in...">
            <div class="field">
                <input type="email" name="email" placeholder="email" class="control-form">
            </div>
            <div class="field">
                <input type="password" name="password" placeholder="password" class="control-form">
            </div>
            <div class="action">
                <button type="submit" class="btn btn-block">Login</button>
            </div>
        </form>
        
        <div class="auth-links">
            <p>
                Don't have an account?
                <a href="/register">Register here!</a>
            </p>
        </div>
    </section>
</section>