<section class="col-4 offset-4">
    <section class="card authentication-card">
        <header>
            <span align="center">register</span>
        </header>
        
        <form action="/register" method="post" id="registration-form" data-disable-with="creating your account...">
            <div class="field">
                <input type="email" name="email" placeholder="email" class="control-form">
            </div>
            <div class="field">
                <input type="password" name="password" placeholder="password" class="control-form">
            </div>
            <div class="action">
                <button type="submit" class="btn btn-block">register</button>
            </div>
        </form>
        
        <div class="auth-links">
            <p>
                Already have an account?
                <a href="/login">Login here!</a>
            </p>
        </div>
    </section>
</section>