<section id="task-<%= @task.id %>" class="col-4 offset-4">
    <div class="card task-card">
        <header>
            <span>Task: <%= @task.id %></span>
        </header>
        
        <p align="left"><%= @task.content %></p>
    </div>
</section>