<!DOCTYPE Html>
<html>
    <head>
        <title>Sinatra Auth</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/application.css">
    </head>
    <body>
        <%= yield %>
    </body>
    <footer>
        &copy; Demesvar Destin
    </footer>
</html>