<div class="card">
    <h1>login</h1>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Login</button>
    </form>
</div>