* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    overflow-x: hidden !important;
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #e7e7e9;
    padding: 15px 30px;
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 15px;
}

header > span {
    font-size: 20px;
    font-weight: 900;
}

#inner-body {
    padding: 40px 30px 60px 30px;
}

a {
    text-decoration: none;
    color: #515151;
}

p {
    font-size: 15px;
}

.box-shadow {
    box-shadow: 0 6px 12px 0 rgba(50,50,70,.08), 0 3px 5px 0 rgba(0,0,0,.05);
}

.cursor-pointer {
    cursor: pointer;
}

*[class*="col"] {
    padding: 0 15px;
    margin-bottom: 15px;
}

.col-7 {
    width: 57.88%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-4 {
    width: 33.33%;
}

.col-3 {
    width: 25%;
}

.col-6 {
    width: 50%;
}

.offset-4 {
    margin-left: 33.33333%;
}

.field, .action {
    display: flex;
    flex-wrap: wrap;
}

.display-block {
    display: block !important;
}

.control-form {
    box-shadow: none;
    border-radius: 2px;
    height: 45px;
    border: 1px solid #e7e7e9;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
}

.btn-block {
    display: block;
    width: 100%;
    height: 45px;
    font-size: 15px;
}

hr {
    background-color: #e7e7e9;
    border-color: #e7e7e9;
}

.card {
    border: 0.5px solid #e7e7e9;
    padding: 20px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

textarea {
    height: 80px;
    font-family: 'Roboto', sans-serif !important;
}

#chat-box-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end !important;
    padding: 0 30px;
}

.chat-box {
    position: fixed;
    bottom: 0;
    width: 275px;
    height: 325px;
    box-shadow: 0 10px 16px 0 rgba(50,50,70,.08), 0 3px 5px 0 rgba(0,0,0,.05);
    background-color: #e7e7e9;
    border: 0.5px solid #e7e7e9;
    border-radius: 2px;
}

.chat-header {
    text-align: left !important;
    background-color: #262626;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 15px;
    box-shadow: 0 0 20px 0 rgba(50,50,70,.08);
    margin-bottom: 0;
}

.chat-header > span {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}

.chat-close {
    font-size: 15px;
    cursor: pointer;
}

.chat-box-form {
    position: fixed;
    bottom: 0;
    width: 275px;
}

.chat-box-form > .chat-input {
    margin: 0 !important;
    padding-top: 10px;
    min-height: 40px;
    max-height: 80px;
    box-shadow: 0 20px 3px 0 rgba(50,50,70,.08);
    font-size: 14px !important;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
}

.chat-messages-container {
    padding: 10px 15px 0 15px;
    overflow-y: auto;
    max-height: 225px;
    height: 225px;
}

.message-bubble {
    background-color: #fff;
    border: 0.5px solid #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 5px;
}

#updates-posted {
    min-height: 40px;
}

.authentication-card {
    padding-bottom: 40px;
}

.auth-links {
    margin-top: 15px;
    text-align: center;
}

#flash-notice, .flash-container {
    text-align: center;
    padding: 20px 30px;
    color: #fff;
    background-color: #004999;
    opacity: 0.7;
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
}

.flash-close {
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    float: right;
    cursor: pointer;
}

nav {
    padding: 20px 30px;
    background-color: #e7e7e9;
}

.navbar-brand {
    font-size: 28px;
    color: #000;
}

.navbar-links {
    text-align: right;
    float: right;
}

.nav-link {
    font-size: 15px;
    margin-left: 20px;
    vertical-align: middle;
    color: #007bff;
}

.nav-link.btn {
    margin-left: 10px;
}

.nav-link, .navbar-links > form, .navbar-links > button {
    display: inline;
}

.btn {
    background-color: #007bff;
    padding: 8px 20px;
    border: 1px solid #007bff;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
}

.btn:hover {
    background-color: #006ee5;
}

.link {
    text-decoration: underline;
    color: #007bff;
}

.login-form {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

#priority-selection {
    display: none;
    position: absolute;
    border: 1px solid #e7e7e9;
    border-radius: 2px;
    background-color: #fff;
    margin-top: 0;
}

#priority-selection > div {
    padding: 15px;
    border-bottom: 0.5px solid #e7e7e9;
    color: #000;
    font-size: 15px;
    cursor: pointer;
}

#priority-selection > div:hover {
    background-color: #e7e7e9;
}

.task-update-card {
    margin-bottom: 0;
}

#task-update-content, #task-update-content:focus {
    box-shadow: none !important;
}

@media only screen and (max-device-width: 768px) {
    *[class*="col"] {
        width: 100%;
        margin: 0;
    }
    
    .card {
        display: block !important;
        width: 100%;
    }
}