<h5>Hey <%= params[:name] %>,</h5>

<p>You've been invited to join <%= "Task #{@task.id}: #{@task.content}" %>.</p>

<p>
    <a href="https://sinatra-auth-demo07.c9users.io/login">
        Log into your account
    </a> or
    <a href="https://sinatra-auth-demo07.c9users.io/register">
        register
    </a> to start contributing!
</p>

<p>
    Thanks,<br />Dem
</p>